on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Build and Upload Release 

env:
  CARGO_INCREMENTAL: 0

jobs:

  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@master
      - name: Login to GitHub Package Registry
        run: docker login docker.pkg.github.com -u 10xbuild -p ${{secrets.GH_PAT}}
      - name: Run Rust tests
        run: >
          docker run -v ${{github.workspace}}:/root
          docker.pkg.github.com/10xdev/toolchain-scripts/toolchain:latest
          /bin/bash -lec '
          apt-get update && apt-get install -y --no-install-recommends ca-certificates;
          cargo build --release;
          target/release/vartrix --help | grep -q USAGE;
          readelf -V target/release/vartrix;
          ';
          mkdir ${{runner.temp}}/artifacts;
          cp -a target/release/vartrix ${{runner.temp}}/artifacts/vartrix-linux
      - name: Upload build artifact
        uses: actions/upload-artifact@v1
        with:
          name: vartrix
          path: ${{runner.temp}}/artifacts
  macos:
    runs-on: macos-latest
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.7
    steps:
      - name: Checkout git repository
        uses: actions/checkout@master
      - name: Run Rust tests
        run: |
          cargo build --release
          target/release/vartrix --help | grep -q USAGE
          mkdir ${{runner.temp}}/artifacts
          cp -a target/release/vartrix ${{runner.temp}}/artifacts/vartrix-macos
      - name: Upload build artifact
        uses: actions/upload-artifact@v1
        with:
          name: vartrix
          path: ${{runner.temp}}/artifacts

  setup-release:
    needs: [linux, macos]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: vartrix
          path: ${{runner.temp}}/artifacts

      - run: ls ${{runner.temp}}/artifacts

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Linux
        id: upload-linux-release 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ${{runner.temp}}/artifacts/vartrix-linux
          asset_name: vartrix_linux
          asset_content_type: application/octet-stream

      - name: Upload Mac
        id: upload-mac-release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ${{runner.temp}}/artifacts/vartrix-macos
          asset_name: vartrix_macos
          asset_content_type: application/octet-stream